Documentation/
.config
.missing-syscalls.d
.tmp_*
.version
.vmlinux.cmd
*.o
*.ko
*.mod.c
*.cmd
*.so
*.so.dbg
*.a
*.s
*.cpio.d
signing_key.*
.x509.list
x509.genkey
vmlinux
modules.order
modules.builtin
Module.symvers
System.map
vmlinux.bin
vmlinux.bin.gz
realmode.bin
realmode.elf
include/config/
generated/
